<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
<style>
  pre{
  }
</style>
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> 
                <span class="icon icon-left"></span>
                BACK
              </a>
             {{#if user}}
                {{#if user.vip}}
                  <a class="button button-link button-nav pull-right" external href="javascript:void(0)">
                    VIP
                  </a>
                {{else}}
                  <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>
                {{/if}} 

              {{else}}
                   <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>             
              {{/if}}  
              <h1 class='title'>第二周音频资料1/2</h1>
            </header>            

            <!-- 工具栏 -->
           {{> general/tabs}}



            <!-- 这里是页面内容区 -->
            <div class="content content-padded">
           
              <div class="content-block">
                <h2>官方音频文本参考翻译 第二周末本文更新发布！</h2> 
                <p style="margin-top:0;margin-bottom:1rem;padding-top:0;color:grey;font-size:0.6rem;">作者: Frank Lee  &nbsp 校对: Frankcis Arsena</p>
               <ul>
                 <li>精选学习音频下载: <a href="https://pan.baidu.com/s/1slF6sH3">Download</a></li>
                 <li>
                    
                  {{#if user}}
                    {{#if user.vip}}
                      <p>密钥: vgvx</p>
                      <p>在线音频: </p>
                      <p><audio controls src="/media/free.mp3"></audio></p>
                      <!--http://av.voanews.com/clips/VLE/2014/09/24/bd1e75fa-0f81-4b01-957e-8784f081cde1.mp3-->
                    {{else}}
                      <p style="font-weight:bold;font-size:0.7rem;border:1px dashed #e3e3e3;padding:10px 10px">成为VIP，全网资源免费 <a href="/service">加入VIP</a></p>
                    {{/if}}
                  {{else}}
                      <p>密钥: <span style="color:#e3e3e3;">VIP用户可见</span></p>
                      <p>在线音频: <span style="color:#e3e3e3;">VIP用户可见</span></p>
                      <p style="border:1px dashed red;padding:0.7rem 1rem;">成为VIP，全网资源免费 <a href="/service">加入VIP</a></p>
                  {{/if}}
                 </li>

                 <li>音频中英文释义：
                 <pre>
名词（1人名，2公司名，3地名，4动物名）：
1. Ellis Parker Butler 1
2. Mike Flannery 1
3. the Interurban Express Company 2 
  interurban - n. between cities or towns
4. Westcote 3
  Westcote is a historic house at 101 Mountain Laurel Drive in Cranston, Rhode Island. 
5. Mr. Morehouse 1
6. guinea pigs 4
   guinea pig - n. 天竺鼠( guinea pig的名词复数 ); 试验品;
   a small furry animal, or rodent, that is often kept as a pet
   
7. Franklin to Westcote 3
                  {{#if user}}
                    {{#if user.vip}}
8. High Andes Mountains 3 安第斯山脉
   
9. Professor Gordon
10. Tariff Department.
    tariff 英[ˈtærɪf] 美[ˈtærɪf] n 关税

11. furious： adj full of fury, violent passion, or rage; extremely angry; enraged 愤怒的: He was furious about the accident. 
12. whisper： v/n 低声说话 to speak with soft, hushed sounds, using the breath, lips, etc., but with no vibration of the vocal cords
13. claim
savagely adv副词 adv.	野蛮地; 残忍地; 凶猛地; 粗野地;

14. Confounded nonsense:这里更倾向于第二种意思
  adjective
  1.
  bewildered; confused; perplexed.
  2.
  damned (used euphemistically):

15. flung his arms out ： 
   fling v throw or hurl forcefully.
16. outrage:
  n. 愤怒 an extremely strong reaction of anger, shock, or indignation.
17. slamming the door
  v 砰地关上 shut (a door, window, or lid) forcefully and loudly.

18. eating like hippopotamuses
    hippopotamus - n.河马 a large African animal that has an extremely large head and mouth and short legs and that spends most of its time in water

19. zoological samples
   zoological adj.动物的，动物学的;
20. scholarly letter 
   scholarly adj 博学的，学术性的
30. It pointed out that the guinea pig was the cavia aparoea, while the common pig was the genus sus of the family suidae.
   genus - n. a group of related animals or plants that includes several or many different species
                  {{else}}
                      <p><span style="color:#e3e3e3;">剩余内容VIP用户可见</span></p>
                  {{/if}}

                {{else}}
                  <p><span style="color:#e3e3e3;">剩余内容登录用户可见</span></p>
                {{/if}}   
   Cavia aperea: The Brazilian guinea pig (Cavia aperea) 
   

31. Agent Flannery wired back
  wire v 回电报send a telegram or cablegram to.
32. cabbages n 洋白菜，卷心菜( cabbage的名词复数 );

33. telegram - n. 电报 a message that is sent by telegraph (an old-fashioned system of sending messages over long distances by using wires and electrical signals)
Rocky Mountain goats is pets
                   
                 </pre>

                 </li>


                 <li>音频文本:
                   <pre> 
                       周末发布               
                   </pre>
                 </li>
                   
                 <li>相关文献参考
                   <p><a href="https://en.wikipedia.org/wiki/Westcote">Westcote介绍【Wikipedia】</a></p>
                   <p><a href="https://en.wikipedia.org/wiki/Guinea_pig">geinea pig 介绍【Wikipedia】</a></p>
                   <p><a href=" https://en.wikipedia.org/wiki/Andes">High Anedes Mountains 介绍【Wikipedia】</a></p>  
                   <p><a href=" https://en.wikipedia.org/wiki/Brazilian_guinea_pig">Cavia aperea 介绍【Wikipedia】</a></p> 
                 </li>
               </ul>
              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <!--<div class="page">...</div>-->
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}