<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
<style>
  pre{
  }
</style>
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> 
                <span class="icon icon-left"></span>
                BACK
              </a>
             {{#if user}}
                {{#if user.vip}}
                  <a class="button button-link button-nav pull-right" external href="javascript:void(0)">
                    VIP
                  </a>
                {{else}}
                  <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>
                {{/if}} 

              {{else}}
                   <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>             
              {{/if}}  
              <h1 class='title'>第二周音频资料1/2</h1>
            </header>            

            <!-- 工具栏 -->
           {{> general/tabs}}



            <!-- 这里是页面内容区 -->
            <div class="content content-padded">
           
              <div class="content-block">
                <h2>官方音频文本参考翻译 第二周末本文更新发布！</h2> 
                <p style="margin-top:0;margin-bottom:1rem;padding-top:0;color:grey;font-size:0.6rem;">作者: Frank Lee  &nbsp 校对: Frankcis Arsena</p>
               <ul>
                 <li>精选学习音频下载: <a href="https://pan.baidu.com/s/1slF6sH3">Download</a></li>
                 <li>
                    
                  {{#if user}}
                    {{#if user.vip}}
                      <p>密钥: vgvx</p>
                      <p>在线音频: </p>
                      <p><audio controls src="/media/free.mp3"></audio></p>
                      <!--http://av.voanews.com/clips/VLE/2014/09/24/bd1e75fa-0f81-4b01-957e-8784f081cde1.mp3-->
                    {{else}}
                      <p style="font-weight:bold;font-size:0.7rem;border:1px dashed #e3e3e3;padding:10px 10px">成为VIP，全网资源免费 <a href="/service">加入VIP</a></p>
                    {{/if}}
                  {{else}}
                      <p>密钥: <span style="color:#e3e3e3;">VIP用户可见</span></p>
                      <p>在线音频: <span style="color:#e3e3e3;">VIP用户可见</span></p>
                      <p style="border:1px dashed red;padding:0.7rem 1rem;">成为VIP，全网资源免费 <a href="/service">加入VIP</a></p>
                  {{/if}}
                 </li>

                 <li>音频中英文释义：
                 <pre>
名词（1人名，2公司名，3地名，4动物名）：
1. Ellis Parker Butler 1
2. Mike Flannery 1
3. the Interurban Express Company 2 
  interurban - n. between cities or towns
4. Westcote 3
  Westcote is a historic house at 101 Mountain Laurel Drive in Cranston, Rhode Island. 
5. Mr. Morehouse 1
6. guinea pigs 4
   guinea pig - n. 天竺鼠( guinea pig的名词复数 ); 试验品;
   a small furry animal, or rodent, that is often kept as a pet
   
7. Franklin to Westcote 3
                  {{#if user}}
                    {{#if user.vip}}
8. High Andes Mountains 3 安第斯山脉
   
9. Professor Gordon
10. Tariff Department.
    tariff 英[ˈtærɪf] 美[ˈtærɪf] n 关税

11. furious： adj full of fury, violent passion, or rage; extremely angry; enraged 愤怒的: He was furious about the accident. 
12. whisper： v/n 低声说话 to speak with soft, hushed sounds, using the breath, lips, etc., but with no vibration of the vocal cords
13. claim
savagely adv副词 adv.	野蛮地; 残忍地; 凶猛地; 粗野地;

14. Confounded nonsense:这里更倾向于第二种意思
  adjective
  1.
  bewildered; confused; perplexed.
  2.
  damned (used euphemistically):

15. flung his arms out ： 
   fling v throw or hurl forcefully.
16. outrage:
  n. 愤怒 an extremely strong reaction of anger, shock, or indignation.
17. slamming the door
  v 砰地关上 shut (a door, window, or lid) forcefully and loudly.

18. eating like hippopotamuses
    hippopotamus - n.河马 a large African animal that has an extremely large head and mouth and short legs and that spends most of its time in water

19. zoological samples
   zoological adj.动物的，动物学的;
20. scholarly letter 
   scholarly adj 博学的，学术性的
30. It pointed out that the guinea pig was the cavia aparoea, while the common pig was the genus sus of the family suidae.
   genus - n. a group of related animals or plants that includes several or many different species
                  {{else}}
                      <p><span style="color:#e3e3e3;">剩余内容VIP用户可见</span></p>
                  {{/if}}

                {{else}}
                  <p><span style="color:#e3e3e3;">剩余内容登录用户可见</span></p>
                {{/if}}   
   Cavia aperea: The Brazilian guinea pig (Cavia aperea) 
   

31. Agent Flannery wired back
  wire v 回电报send a telegram or cablegram to.
32. cabbages n 洋白菜，卷心菜( cabbage的名词复数 );

33. telegram - n. 电报 a message that is sent by telegraph (an old-fashioned system of sending messages over long distances by using wires and electrical signals)
Rocky Mountain goats is pets
                   
                 </pre>

                 </li>


                 <li>音频文本:
                   <pre> 
Our story today is called "Pigs is Pigs." It was written by Ellis Parker Butler.

Mike Flannery, the agent of the Interurban Express Company, leaned over the desk in the company's office in Westcote and shook his fist. Mr. Morehouse, angry and red, stood on the other side of the desk shaking with fury. The argument had been long and hot. At last Mr. Morehouse had become speechless.

The cause of the trouble lay on the desk between the two men. It was a box with two guinea pigs inside.

"Do as you like, then!" shouted Flannery. "Pay for them and take them. Or don't pay for them and leave them here. Rules are rules, Mr. Morehouse. And Mike Flannery is not going to break them."

"But you stupid idiot!" shouted Mr. Morehouse, madly shaking a thin book beneath the agent's nose. "Can't you read it here – in your own book of transportation rates? ‘Pets, domestic, Franklin to Westcote, if correctly boxed, twenty-five cents each.'"

He threw the book on the desk. "What more do you want? Aren't they pets? Aren't they domestic? Aren't they correctly boxed? What?"

He turned and walked back and forth rapidly, with a furious look on his face. "Pets," he said. "P-E-T-S! Twenty-five cents each. Two times twenty-five is fifty! Can you understand that? I offer you fifty cents."

Flannery reached for the book. He ran his hand through the pages and stopped at page sixty-four.

"I don't take fifty cents," he whispered in an unpleasant voice. "Here's the rule for it: ‘When the agent be in any doubt about which two rates should be charged on a shipment, he shall charge the larger. The person receiving the shipment may put in a claim for the overcharge.' In this case, Mr. Morehouse, I be in doubt. Pets them animals may be. And domestic they may be, but pigs I'm sure they do be. And my rule says plain as the nose on your face, ‘Pigs, Franklin to Westcote, thirty cents each.'"

Mr. Morehouse shook his head savagely. "Nonsense!" he shouted. "Confounded nonsense, I tell you! That rule means common pigs, not guinea pigs!"

"Pigs is pigs," Flannery said firmly.

Mr. Morehouse bit his lip and then flung his arms out wildly. "Very well!" he shouted. "You shall hear of this! Your president shall hear of this! It is an outrage! I have offered you fifty cents. You refuse it. Keep the pigs until you are ready to take the fifty cents. But, by George, sir, if one hair of those pigs' heads is harmed, I will have the law on you!" He turned and walked out, slamming the door. Flannery carefully lifted the box from the desk and put it in a corner.

Mr. Morehouse quickly wrote a letter to the president of the transportation express company. The president answered, informing Mr. Morehouse that all claims for overcharge should be sent to the Claims Department.

Mr. Morehouse wrote to the Claims Department. One week later he received an answer. The Claims Department said it had discussed the matter with the agent at Westcote. The agent said Mr. Morehouse had refused to accept the two guinea pigs shipped to him. Therefore, the department said, Mr. Morehouse had no claim against the company and should write to its Tariff Department.

Mr. Morehouse wrote to the Tariff Department. He stated his case clearly. The head of the Tariff Department read Mr. Morehouse's letter. "Huh! Guinea pigs," he said. "Probably starved to death by this time." He wrote to the agent asking why the shipment was held up. He also wanted to know if the guinea pigs were still in good health.

Before answering, agent Flannery wanted to make sure his report was up to date. So he went to the back of the office and looked into the cage. Good Lord! There were now eight of them! All well and eating like hippopotamuses.

He went back to the office and explained to the head of the Tariff Department what the rules said about pigs. And as for the condition of the guinea pigs, said Flannery, they were all well. But there were eight of them now, all good eaters.

The head of the Tariff Department laughed when he read Flannery's letter. He read it again and became serious.

"By George!" he said. "Flannery is right. Pigs is pigs. I'll have to get something official on this." He spoke to the president of the company. The president treated the matter lightly. "What is the rate on pigs and on pets?" he asked.

"Pigs thirty cents, pets twenty-five," the head of the Tariff Department answered. "Then of course guinea pigs are pigs," the president said.

"Yes," the head of the Tariff Department agreed. "I look at it that way too. A thing that can come under two rates is naturally to be charged at the higher one. But are guinea pigs, pigs? Aren't they rabbits?"

"Come to think of it," the president said, "I believe they are more like rabbits. Sort of half-way between pig and rabbit. I think the question is this – are guinea pigs of the domestic pig family? I'll ask Professor Gordon. He is an expert about such things."

The president wrote to Professor Gordon. Unfortunately, the professor was in South America collecting zoological samples. His wife forwarded the letter to him.


The professor was in the High Andes Mountains. The letter took many months to reach him. In time, the president forgot the guinea pigs. The head of the Tariff Department forgot them. Mr. Morehouse forgot them. But agent Flannery did not. The guinea pigs had increased to thirty-two. He asked the head of the Tariff Department what he should do with them.

"Don't sell the pigs," agent Flannery was told. "They are not your property. Take care of them until the case is settled."

The guinea pigs needed more room. Flannery made a large and airy room for them in the back of his office.


Some months later he discovered he now had one hundred sixty of them. He was going out of his mind.

Not long after this, the president of the express company heard from Professor Gordon. It was a long and scholarly letter. It pointed out that the guinea pig was the cavia aparoea, while the common pig was the genus sus of the family suidae.

The president then told the head of the Tariff Department that guinea pigs are not pigs and must be charged only twenty-five cents as domestic pets. The Tariff Department informed agent Flannery that he should take the one hundred sixty guinea pigs to Mr. Morehouse and collect twenty-five cents for each of them.


Agent Flannery wired back. "I've got eight hundred now. Shall I collect for eight hundred or what? How about the sixty-four dollars I paid for cabbages to feed them?"

Many letters went back and forth. Flannery was crowded into a few feet at the extreme front of the office. The guinea pigs had all the rest of the room. Time kept moving on as the letters continued to go back and forth.

Flannery now had four thousand sixty-four guinea pigs. He was beginning to lose control of himself. Then, he got a telegram from the company that said: "Error in guinea pig bill. Collect for two guinea pigs -- fifty cents."

Flannery ran all the way to Mr. Morehouse's home. But Mr. Morehouse had moved. Flannery searched for him in town but without success. He returned to the express office and found that two hundred six guinea pigs had entered the world since he left the office.

At last, he got an urgent telegram from the main office: "Send the pigs to the main office of the company at Franklin." Flannery did so. Soon, came another telegram. "Stop sending pigs. Warehouse full." But he kept sending them.

Agent Flannery finally got free of the guinea pigs. "Rules may be rules," he said, "but so long as Flannery runs this express office, pigs is pets and cows is pets and horses is pets and lions and tigers and Rocky Mountain goats is pets. And the rate on them is twenty-five cents."

Then he looked around and said cheerfully, "Well, anyhow, it is not as bad as it might have been. What if them guinea pigs had been elephants?"


译文：

MikeFlannery，快递公司的代理人，在公司办公室里的办公桌上方斜着身子上，挥舞着拳头。公司在Westcote。Morehouse先生脸色通红，生着气，站在桌子的另一旁，因生气而身体颤抖。争论持续了很长时间了，且越来越激烈。最后Morehouse先生哑口无言了。

事情的起因就在两人之间的桌子上。那是里面装着两只吉尼亚猪的盒子。

“那么按你说的做！”Flannery喊道。“付钱拿走。或者不付钱把它们留在这。规定就是这样，Morehouse先生。MikeFlannery不是有意想打破这些规定。”

“笨蛋！”Morehouse先生喊道，在这个代理人鼻子下疯狂地挥舞着一本薄书。“你能不能在这儿读一下-在你的书里有关运输费用的部分？‘宠物，在国内从Franklin到Westcote，正确包装的情况下，每只25美分’。”

他把书仍在桌子上。“你还想多要多少？难道它们不是宠物吗？难道它们不是在国内吗？难道没有正确包装？还是因为其他原因？”

他转身前后来回快速地走着，脸上满是愤怒的表情。“宠物，”他说。“宠…物！每只25美分。25的两倍就是50！你能理解这些吗？我给你50美分。”

Flannery拿到那本书。他翻着书，停在了64页。

“我没拿50美分。，”他闷闷不乐地说。“这里有规定：当代理人对出货的2种费用有任何疑问时，他应该收取较大者。收货者应对超收的费用提出自己的主张。’在这种情况下，Morehouse先生，我有疑问。宠物是动物，也是在国内，但是我确信他们是猪。我的规定说的很明白，‘猪，Morehouse到Westcote，每只30美分。”

Morehouse先生愤怒地摇着头。“胡说！”他说。“简直胡说，我告诉你！那个规定指的是普通的猪，不是几内亚猪！”

“猪就是猪，”Flannery坚定地说。

Morehouse先生咬着嘴唇，愤怒地挥舞着胳膊。“好吧！”他喊道。“你听着！你的主管也会听到！我很愤怒！我已经给了你50美分。你拒绝了。那你留着这猪，直到你愿意拿走这50美分。但是，如果这些猪的一根寒毛受到伤害，我就会告你！”他转过身走了出去，狠狠地关上门。Flannery小心地提起箱子放在了房角。

Morehouse先生很快给快递公司的主席写了一封信。主席回了信，通知Morehouse先生，所有的关于超收的主张将会被送到投诉部门。

Morehouse先生给投诉部门写了信。一星期后他收到了回信。投诉部门说他们已经讨论了Westcote的代理人所遇到的问题。代理人说Morehouse先生拒绝接受两只运给他的几内亚猪。因此，这个部门说，Morehouse先生没有主张针对公司的权利并且让他写信给交通部门。

TariffDepartment写信给交通部门。他非常清楚地陈述了他的情况。交通部主管读了TariffDepartment先生的信。“哈！几内亚猪，”他说。“这次可能要饿死了。”他给代理人写信问为什么送货停止了。他也想知道是否几内亚猪仍健康地活着。

回信前，代理人Flannery想确定他的报告是最新的。所以他去了办公室的后面看了看笼子。天哪！已经有八只了。他们都很好，并且像河马一样的能吃。

他又回到办公室，向交通部主管解释了关于猪的规定。针对几内亚猪的情况，Flannery说，它们都很好。但是现在已经有八只了，而且都很能吃。

当交通部主管读到Flannery的信时，他笑了。他又读了一遍，然后变得严肃起来。

“糟糕！”他说。“Flannery是对的。猪就是猪。我必须严肃对待这件事。他给公司的主席说了这件事。主席轻松地应对了这件事。”对猪和宠物的收费如何？“他说。

“猪是30美分，宠物是25美分，“交通部主管回答。”那么几内亚猪就是猪，“主席说。

“是的，“交通部主管附和说。”我也这么看。1种可以适用于2种费用的事当让应该按照高的来执行。几内亚猪是猪吗？难道它们会是兔子？“

“想一想，“主席说，”我相信他们可能像兔子。可能一半像猪一半像兔子。我想问题的实质是-国内的几内亚猪是猪的1类吧？我会问Gordon教授。他是这方面的专家。”

主席给Gordon教授写了信。不巧教授在美国南部收集动物样本。他的妻子将信转寄了出去。

教授正在安第斯山上。信过了几个月才到他手上。主席已经忘掉了这件事。交通部们主管也忘了。Morehouse也忘记了这些猪。但是代理人Flannery没有。几内亚猪已经发展到了32只，他问交通部门主管如何处置这些猪。

“不要卖掉这些猪，”他告诉Flannery。“他们不是你的财产。照料它们直到事情解决的那一天。”

几内亚猪需要更多的空间。Flannery在他办公室的后面为它们制作了大的通风的房间。

几个月过去了，他发现现在已经有160只猪了。他已经快发疯了。

这之后不久，快递公司的主席收到了来自Gordon教授的回信。那是一封长长的带有学者风度的信。他指出几内亚猪是caviaaparoea，普通猪是猪的1类。

主席告诉交通部门的主管，几内亚猪不是猪，因此必须作为国内宠物收取25美分。交通部门的主管通知代理人Flannery，他应该将160只几内亚猪给Morehouse先生并且每只收取25美分。

Flannery回信说“现在我已经有800只了。我应该收取800只的费用还是160只的？”我饲养它们所用的甘蓝钱64美元怎么办？”

信件发来发去。Flannery被挤到了办公室前面只有几英尺的地方。几内亚猪占据了其余的空间。时间继续流逝，信件都还在发来发去。

Flannery现在已经有4064只几内亚猪了。他开始发疯了。然后他受到了来自公司的电报，上面说：“关于几内亚猪的账单错误。为两只几内亚猪收取50美分的费用。”

Flannery跑着向Morehouse的家，但是他已经搬家了。Flannery在镇上寻找他，但是没有找到。他回到快递公司的办公室，发现自从他离开办公室后，已经有206只几内亚猪跑到了外面不知去向。

最后，他收到一封来自公司的紧急电报：“把猪发到Franklin的公司总部。”Flannery照做了。很快，他收到了另一封电报。“停止发送。仓库已经满了。”但是Flannery仍继续发送。

最后代理人Flannery从几内亚猪中解脱出来。“规定是规定，”他说，“但是Flannery运作这个快递办公室已经很长时间了，猪是宠物，奶牛是宠物，马是宠物，狮子、老虎和山羊是宠物。对于它们的收费都是25美分。”

然后他向四周看了看，高兴地说，“好吧，不管怎样，还不算太坏。如果几内亚猪是大象会怎么样呢？”             
                   </pre>
                 </li>
                   
                 <li>相关文献参考
                   <p><a href="https://en.wikipedia.org/wiki/Westcote">Westcote介绍【Wikipedia】</a></p>
                   <p><a href="https://en.wikipedia.org/wiki/Guinea_pig">geinea pig 介绍【Wikipedia】</a></p>
                   <p><a href=" https://en.wikipedia.org/wiki/Andes">High Anedes Mountains 介绍【Wikipedia】</a></p>  
                   <p><a href=" https://en.wikipedia.org/wiki/Brazilian_guinea_pig">Cavia aperea 介绍【Wikipedia】</a></p> 
                 </li>
               </ul>
              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <!--<div class="page">...</div>-->
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}