<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
<style>
  pre{
    
  }
</style>
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> 
                <span class="icon icon-left"></span>
                BACK
              </a>
             {{#if user}}
                {{#if user.vip}}
                  <a class="button button-link button-nav pull-right" external href="javascript:void(0)">
                    VIP
                  </a>
                {{else}}
                  <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>
                {{/if}} 

              {{else}}
                   <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>             
              {{/if}}  
              <h1 class='title'>第一周音频资料1/2</h1>
            </header>            

            <!-- 工具栏 -->
           {{> general/tabs}}



            <!-- 这里是页面内容区 -->
            <div class="content content-padded">
           
              <div class="content-block">
                <h2>官方音频文本参考翻译 第一周末本文更新发布！</h2> 
                <p style="margin-top:0;margin-bottom:1rem;padding-top:0;color:grey;font-size:0.6rem;">作者: Frank Lee  &nbsp 校对: Frankcis Arsena</p>
               <ul>
                 <li>精选学习音频下载: <a href="https://pan.baidu.com/s/1qXUQTZ2">Download</a></li>
                 <li>
                    
                  {{#if user}}
                    {{#if user.vip}}
                      <p>密钥: dxvw</p>
                      <p>在线音频: </p>
                      <p><audio controls src="/media/valley.mp3"></audio></p>
                      <!--http://av.voanews.com/clips/VLE/2014/09/24/bd1e75fa-0f81-4b01-957e-8784f081cde1.mp3-->
                    {{else}}
                      <p style="font-weight:bold;font-size:0.7rem;border:1px dashed #e3e3e3;padding:10px 10px">成为VIP，全网资源免费 <a href="/service">加入VIP</a></p>
                    {{/if}}
                  {{else}}
                      <p>密钥: <span style="color:#e3e3e3;">VIP用户可见</span></p>
                      <p>在线音频: <span style="color:#e3e3e3;">VIP用户可见</span></p>
                      <p style="border:1px dashed red;padding:0.7rem 1rem;">成为VIP，全网资源免费 <a href="/service">加入VIP</a></p>
                  {{/if}}
                 </li>


                 <li>背景:
                   <p>1789年4月3日，华盛顿·欧文出生于纽约市。那时独立战争已接近尾声。他的父母以乔治·华盛顿将军的姓氏给他起名华盛顿·欧文。1809年，欧文完成了他的第一本书——《纽约外史》。这本书嘲讽了当地的历史和政治。欧文还写了许多品评人们的信仰和政治观点的讽刺作品和幽默故事。《睡谷传奇》和《瑞普·凡·温克尔》是他的最著名的两部短篇小说。欧文是美国历史上第一位以写作为生的作家，被誉为“美国短篇小说之父”。</p>
                 </li>
                 <li>词汇讲解:
                   <pre>
1, The Legend of Sleepy Hollow 沉睡的山谷
2, Washington Irving 人名
3, Doug Johnson.人名
4, Tarry Town 地名，详情见参考文献
5, American Revolutionary War美国独立战争
6, burial place 墓地
7, Ichabod Crane 人名，职业老师
8, crane（ a tall bird, a crane） 鹤，详情见参考文献
                  {{#if user}}
                    {{#if user.vip}}
9, large glassy green eyes： glassy
10, flat adj 平的
11, a rich Dutch farmer : 富裕的荷兰农民
12, a girl in bloom： 花季少女
13, a strong young man named Brom Van Brunt：Brom Van Brunt 人名
14, Brom Van Brunt 人名
15, his hair was short and curly： 短而卷曲的头发
16, A farmer loaned him an old horse for the long trip to the party：loan vt 借
17, the revolutionary war: 美国独立战争, 详情见参考文献
18, The horseman followed over bush and stone until they came to the end of the valley.
那人在树梢和岩石上紧追不舍

19, He began to whistle as he came close to the tree where a man had been killed years ago by rebels.
20, whistle： n 口哨
21, rebels：n 反叛者

22, to Ichabod's horror he saw it was a horse
23, kick vt.踢
    例句 He threw me to the ground and started to kick.
    他把我摔倒在地开始踢我。
24, to sb’s horror 使某人感到恐惧的是
                  {{else}}
                      <p><span style="color:#e3e3e3;">剩余内容VIP用户可见</span></p>
                  {{/if}}

                {{else}}
                  <p><span style="color:#e3e3e3;">剩余内容登录用户可见</span></p>
                {{/if}}
25, the sound of thunder： 闪电声
26, a round orange pumpkin. pumpkin 南瓜
27, they wondered why he laughed out loud ： 这是我们在X-Plan计划 VIP群里聊过的LOL 的缩写

28. believe vt.相信;以为
例句：If you believe in yourself you can succeed.
只要自信，就能成功。
29. kick vt.踢
例句：He threw me to the ground and started to kick.
他把我摔倒在地开始踢我。
30. remember vt.记得; 牢记
例句：Did you remember your other appointment for today?
还记得今天的另一个约会吗？
31. wonder vt.惊奇; 对…感到好奇的例句：I wonder if you supply toys.
不知贵公司是否供应玩具。
32. laugh vi.笑; 发笑; 嘲笑
例句：I laugh all alone at my complete inanity.
十分无聊时，我就独自大笑。                     
                   </pre>

                 </li>
                 <li>短语讲解:
                   <pre>
1. His head was shot off.
shoot off 打掉; 炸掉; 放枪
例句：Children like to shoot off firecrackers in the Spring Festival.
孩子们喜欢在春节时放鞭炮。
2. It was in front of the rider, resting on the horse.
in front of 面前; 在…前面; 当着…的面
例句：A doctor has the title 'Dr' in front of his name.
医生的名字前有“Dr”这个称呼。
3. He saw the man pick up his head and throw it with a powerful force.
pick up 捡起; 接载; 学会
例句：I'd really like to pick up Grandpa at the railroad station.
我真想去火车站接爷爷。
4. He said he was sure he saw Ichabod there.
be sure 确信; 诚然; 有谱儿
例句：It was worth a thought, to be sure.
真的，这确是一件值得注意的事情。                     
                   </pre>
                 </li>

                 <li>疑难句子释义：
                   <pre>
1, Among the ladies Ichabod taught was one Katrina Van Tassel.
中文意思为“Lchabod教的女学生中其中有一个叫Katrina Van Tassel”
这个句子看起来有点奇怪，它是
                  {{#if user}}
                    {{#if user.vip}}
在以上这个句子中转变而来的，具体我们会在线上聚会详细再讲解:
one was {Katrina Van Tassel} among the ladies( the ladies Ichabod taught )
2， there were many problems blocking the road to Katrina's heart.
                    {{else}}
                    <p><span style="color:#e3e3e3;">剩余内容VIP用户可见</span></p>
                    {{/if}}
                 {{else}}
                  <p><span style="color:#e3e3e3;">剩余内容登录用户可见</span></p>
                 {{/if}}

要想得到Katrina的心，还有很多障碍
                   </pre>

                 </li>

                 <li>音频文本:
                   <pre>
Today's story is called "The Legend of Sleepy Hollow. It is about something strange that happened long ago in a valley called "Sleepy Hollow". It was written by Washington Irving. The story is told by Doug Johnson.
The valley known as Sleepy Hollow hides from the world in the high hills of New York state. There are many stories told about the quiet valley. But the story that people believe most is about a man who rides a horse at night. The story says the man died many years ago during the American Revolutionary War. His head was shot off. Every night he rises from his burial place, jumps on his horse and rides through the valley looking for his lost head.
Near Sleepy Hollow is a village called Tarry Town. It was settled many years ago by people from Holland. The village had a small school. And one teacher, named Ichabod Crane. Ichabod Crane was a good name for him, because he looked like a tall bird, a crane. He was tall and thin like a crane. His shoulders were small, joined two long arms. His head was small, too, and flat on top. He had big ears, large glassy green eyes and a long nose.
Ichabod did not make much money as a teacher. And although he was tall and thin, he ate like a fat man. To help him pay for his food he earned extra money teaching young people to sing. Every Sunday after church Ichabod taught singing.


Among the ladies Ichabod taught was one Katrina Van Tassel. She was the only daughter of a rich Dutch farmer. She was a girl in bloom…much like a round red, rosy apple. Ichabod had a soft and foolish heart for the ladies, and soon found himself interested in Miss Van Tassel.
Ichabod's eyes opened wide when he saw the riches of Katrina's farm: the miles of apple trees and wheat fields, and hundreds of fat farm animals. He saw himself as master of the Van Tassel farm with Katrina as his wife.
But there were many problems blocking the road to Katrina's heart. One was a strong young man named Brom Van Brunt. Brom was a hero to all the young ladies. His shoulders were big. His back was wide. And his hair was short and curly. He always won the horse races in Tarry Town and earned many prizes. Brom was never seen without a horse.
Sometimes late at night Brom and his friends would rush through town shouting loudly from the backs of their horses. Tired old ladies would awaken from their sleep and say: "Why, there goes Brom Van Brunt leading his wild group again!"

Such was the enemy Ichabod had to defeat for Katrina's heart.
Stronger and wiser men would not have tried. But Ichabod had a plan. He could not fight his enemy in the open. So he did it silently and secretly. He made many visits to Katrina's farm and made her think he was helping her to sing better.
Time passed, and the town people thought Ichabod was winning. Brom's horse was never seen at Katrina's house on Sunday nights anymore.
One day in autumn Ichabod was asked to come to a big party at the Van Tassel home. He dressed in his best clothes. A farmer loaned him an old horse for the long trip to the party.
The house was filled with farmers and their wives, red-faced daughters and clean, washed sons. The tables were filled with different things to eat. Wine filled many glasses.
Brom Van Brunt rode to the party on his fastest horse called Daredevil. All the young ladies smiled happily when they saw him. Soon music filled the rooms and everyone began to dance and sing.
Ichabod was happy dancing with Katrina as Brom looked at them with a jealous heart. The night passed. The music stopped, and the young people sat together to tell stories about the revolutionary war.

Soon stories about Sleepy Hollow were told. The most feared story was about the rider looking for his lost head. One farmer told how he raced the headless man on a horse. The farmer ran his horse faster and faster. The horseman followed over bush and stone until they came to the end of the valley. There the headless horseman suddenly stopped. Gone were his clothes and his skin. All that was left was a man with white bones shining in the moonlight.
The stories ended and time came to leave the party. Ichabod seemed very happy until he said goodnight to Katrina. Was she ending their romance? He left feeling very sad. Had Katrina been seeing Ichabod just to make Brom Van Brunt jealous so he would marry her?
Well, Ichabod began his long ride home on the hills that surround Tarry Town. He had never felt so lonely in his life. He began to whistle as he came close to the tree where a man had been killed years ago by rebels.
He thought he saw something white move in the tree. But no, it was only the moonlight shining and moving on the tree. Then he heard a noise. His body shook. He kicked his horse faster. The old horse tried to run, but almost fell in the river, instead. Ichabod hit the horse again. The horse ran fast and then suddenly stopped, almost throwing Ichabod forward to the ground.
There, in the dark woods on the side of the river where the bushes grow low, stood an ugly thing. Big and black. It did not move, but seemed ready to jump like a giant monster.
Ichabod's hair stood straight up. It was too late to run, and in his fear, he did the only thing he could. His shaking voice broke the silent valley.
"Who are you?" The thing did not answer. Ichabod asked again. Still no answer. Ichabod's old horse began to move forward. The black thing began to move along the side of Ichabod's horse in the dark. Ichabod made his horse run faster. The black thing moved with them. Side by side they moved, slowly at first. And not a word was said.
Ichabod felt his heart sink. Up a hill they moved above the shadow of the trees. For a moment the moon shown down and to Ichabod's horror he saw it was a horse. And it had a rider. But the rider's head was not on his body. It was in front of the rider, resting on the horse.
Ichabod kicked and hit his old horse with all his power. Away they rushed through bushes and trees across the valley of Sleepy Hollow. Up ahead was the old church bridge where the headless horseman stops and returns to his burial place.
"If only I can get there first, I am safe," thought Ichabod. He kicked his horse again. The horse jumped on to the bridge and raced over it like the sound of thunder. Ichabod looked back to see if the headless man had stopped. He saw the man pick up his head and throw it with a powerful force. The head hit Ichabod in the face and knocked him off his horse to the dirt below.
They found Ichabod's horse the next day peacefully eating grass. They could not find Ichabod.
They walked all across the valley. They saw the foot marks of Ichabod's horse as it had raced through the valley. They even found Ichabod's old hat in the dust near the bridge. But they did not find Ichabod. The only other thing they found was lying near Ichabod's hat.
It was the broken pieces of a round orange pumpkin.
The town people talked about Ichabod for many weeks. They remembered the frightening stories of the valley. And finally they came to believe that the headless horseman had carried Ichabod away.
Much later an old farmer returned from a visit to New York City. He said he was sure he saw Ichabod there. He thought Ichabod silently left Sleepy Hollow because he had lost Katrina.
As for Katrina, her mother and father gave her a big wedding when she married Brom Van Brunt. Many people who went to the wedding saw that Brom smiled whenever Ichabod's name was spoken. And they wondered why he laughed out loud when anyone talked about the broken orange pumpkin found lying near Ichabod's old dusty hat.                 
                   </pre>

                 </li>

                 <li>相关文献参考
                   <p><a href="https://en.wikipedia.org/wiki/Tarrytown,_New_York">Harry Town介绍【Wikipedia】</a></p>
                   <p><a href="https://en.wikipedia.org/wiki/Crane_(bird)">Crane(a tall bird)【Wikipedia】</a></p>
                   <p><a href="http://blog.sina.com.cn/s/blog_459a903501011vm1.html">Harry Town介绍及美景【sina】</a></p>
                   <p><a href="https://en.wikipedia.org/wiki/American_Revolutionary_War">American Revolutionary War</a></p>
                   
                   
                   
                 </li>




               </ul>
              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <!--<div class="page">...</div>-->
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}