<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <style>
    </style>
    <link rel="stylesheet" href="">
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page groupArticles">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back">
                <span class="icon icon-left"></span>
                BACK
                
              </a>

              {{#if belongToGroup}}
              <a class="button button-link button-nav pull-right" href="/post/make?group_id={{group._id}}">
                <!--<span class="icon icon-edit"></span>-->
                发表
              </a>
              {{else}}

                <a class="button button-link button-nav pull-right external" href="/group/applyGroup?group_id={{group._id}}" id="join">
                    <!---?group_id={{group._id}}-->
                    + 加入
                </a>
        
              {{/if}}   

              <h1 class='title'>{{group.title}} 小组</h1>
            </header>            


            <!-- 这里是页面内容区 -->
            <div class="content">

                <div class="buttons-tab">
                    <a href="#tab1" class="tab-link active button">话题</a>
                    <a href="#tab2" class="tab-link button">{{group.title}}</a>
                    <!--<a href="#tab3" class="tab-link button">待发货</a>-->
                </div>
                <div class="content-block contentBlock">
                    <div class="tabs">
                    <div id="tab1" class="tab active">
                        <div class="content-block">
                             {{> post/postsLoop}}
                        </div>
                    </div>
                    <div id="tab2" class="tab">
                        <div class="content-block tabContent">
                        <p>{{group.intro}}</p>
                        </div>
                    </div>
                    <!--
                    <div id="tab3" class="tab">
                        <div class="content-block">
                        <p>This is tab 3 content</p>
                        </div>
                    </div>-->
                    </div>
                </div>

                

            </div>


        </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <div class="page">...</div>
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->


    {{#extend 'js'}}
    {{/extend}}

