<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <link rel="stylesheet" href="">
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        {{#if post}}
        <div class="page page-current showOne">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> <!--get rid of back class-->
                <span class="icon icon-left"></span>
              
              </a>
              

               <a class="pull-right open-form" href="#form"><span class="icon icon-message"></span></a>
              <h1 class='title'>来自 {{post.group.title}}</h1>
            </header>            


           {{> general/tabs}}
           
            <!-- 这里是页面内容区 -->
            <div class="content ">
                <div class="content-padded">

                    <h2>{{post.title}}</h2>
                    <div class="logoArea">
                        <div class="leftImg">
                            {{#if postUser.logo}}
                                <a href="/user/profile/{{postUser._id}}" external="external" >
                                    <img src="/upload/logo/{{postUser._id}}/{{postUser.logo}}">
                                </a>
                            {{else}}
                                <a href="/user/profile/{{postUser._id}}">
                                <span class="icon icon-me"></span>
                                </a>
                            {{/if}}
                        </div><!--
                      --><div class="rightIntro">
                            <span>{{ postUser.username }} <span>的日记</span></span> 
                            <span>{{ post.updated_at }} &nbsp {{post.pv}} pv</span>
                         </div>
                    </div>
                    {{#if post.image}}
                    <div class="postImg"><img src="/upload/postLogo/{{post.image}}"></div>
                    {{/if}}
                    <p class="contentArea">{{{ post.content }}}</p>
                    <p class="postTags">
                    {{#if post.tags}}
                     {{#each post.tags}}
                       <span>{{name}}</span>
                     {{/each}}
                    {{/if}}
                    
                    </p>
                    

                    <p class="copy">&copy本文版权归 {{ postUser.username }} 所有， 任何形式转载请联系作者。</p>

                    <p class="commentTop"> 
                        {{#if post.comments.length}}
                        {{post.comments.length}} 回复
                        {{else}}
                        暂无回复
                        {{/if}}
                        
                    </p>
                    {{> post/comment }}
               </div><!--.content-padded-->

             </div><!--.content-->


            </div><!--.page-->
            {{/if}}

        <!--其他的单个page内联页（如果有）-->

        <div class="page" id='form'>
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="">
                <span class="icon icon-left"></span>
                
                </a>
                <h1 class='title'>回复</h1>
            </header>
            <div class="content">
                <div class="content-block">
                <form class="list-block" method="POST" action="/post/comment">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input type="hidden" value="{{post.title}}" name="title">

                    <ul>
                        <!-- Text inputs -->
                        <li>
                            <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                <textarea name="content" placeholder="你的回复..."></textarea>
                                </div>
                            </div>
                            </div>
                        </li>
                    </ul>

                    <input type="submit" value="submit" id="submit">
                </form>   
                <div class="content-block">
                    <div class="row">
                        <div class="">
                            <a href="#" class="button button-big button-fill button-success" id="fake-submit">提交</a>
                        </div>
                    </div>
                </div>   
                <script>
                    (function(){
                        var fake_submit = document.getElementById('fake-submit');
                        var submit = document.getElementById('submit');
                        fake_submit.onclick = function(e){
                            e.preventDefault();
                            submit.click();
                        };
                    }());
                </script>


                </div>
            </div>
        </div>  



    </div><!--page group-->

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->


    {{#extend 'js'}}
    
      <!--<script>
        $(document).on('click','.open-form', function () {
         $.popup('.popup-form');
        });
      </script>-->
      
    {{/extend}}


    
                                   

