
{{#if posts}} 
  {{#each posts}}      
      <div class="listWrapper">

        
          <div class="topGroup">
            
                {{#if ../group}}
                 <span>{{../group.title}}</span>
                {{else}}
                 <span>{{group.title}}</span>                     
                {{/if}}
            
          </div>

          <div class="midText">
            <div class="leftText">
              <h2>{{title}}</h2>
              <p><a href="/post/show/{{title}}" external> {{{intro}}}...</a></p>
            </div><!----><div class="rightImg" style="background-image:url('/upload/postLogo/{{image}}');"></div>
          </div>


          <div style="clear:all" class="bottomLine">

            <p>{{author}} 作品</p> 


            {{#if ../isProfile}}
               {{#if ../isMyPosts}}
                <span>
                  <a href="#" class="create-actions">管理</a>
                  <input type="hidden" value="/post/edit/{{_id}}" class="editId">
                  <input type="hidden" value="/post/delete/{{_id}}" class="deleteId">                
                </span>
               {{/if}}
            {{/if}}
            
          </div>


      </div>
      <!--for getting url-->

    {{/each}}
    {{/if}}


      


  {{> post/paging }}     



