
{{#if posts}} 
  {{#each posts}}      
      <div class="listWrapper">
          <div class="topGroup">
            <span>
                <span></span>
                {{#if ../group}}
                 {{../group.title}}
                {{else}}
                 {{group.title}}                     
                {{/if}}
                <span></span>
            </span>
          </div>

          <div class="midText">
            <div class="leftText">
              <h2>{{title}}</h2>
              <p><a href="/post/show/{{title}}" class="external"> {{{intro}}}...</a></p>
            </div><!--
          --><div class="rightImg" style="background-image:url('/upload/postLogo/{{image}}');">
            </div>
          </div>
          <div style="clear:all" class="bottomLine">
            <p>{{author}} 作品</p> 

            {{#if ../isProfile}}
               {{#if ../isMyPosts}}
                <span><a class="edit" href="/post/edit/{{ _id }}">编辑</a></span>
                <span><a class="delete" href="/post/delete/{{ _id }}">删除</a></span>
              {{/if}}
            {{/if}}
            
          </div>


      </div>

  {{/each}}
  {{> post/paging }}     
{{/if}}  


