
{{#if posts}} 
  {{#each posts}}      
      <div class="listWrapper">
          <div class="topGroup">
            <span>
                <span></span>
                {{#if ../group}}
                 {{../group.title}}
                {{else}}
                 {{group.title}}                     
                {{/if}}
                <span></span>
            </span>
          </div>

          <div class="midText">
            <div class="leftText">
              <h2>{{title}}</h2>
              <p><a href="/post/show/{{title}}" class="external"> {{{intro}}}...</a></p>
            </div><!--
          --><div class="rightImg" style="background-image:url('/upload/postLogo/{{image}}');">
            </div>
          </div>
          <div style="clear:all" class="bottomLine">

            <p>{{author}} 作品</p> 


            {{#if ../isProfile}}
               {{#if ../isMyPosts}}
                <span><a href="#" class="create-actions">管理我的小组</a></span>

              {{/if}}
            {{/if}}
            
          </div>


      </div>
      <!--for getting url-->

      <input type="hidden" value="http://trver.com/post/edit/{{_id}}" class="editId">
      <input type="hidden" value="http://trver.com/post/delete/{{_id}}" class="deleteId">
      

  {{/each}}
  {{> post/paging }}     
{{/if}}  


