    <div class="panel panel-left panel-reveal leftSlide">
        <div class="content-block" style="color:#000;">

            <div class="slideTop">
             {{#if user}}
             <!--<p class="welcome">Welcome back</p>-->
              <p class="loginArea"> <a href="/user/profile/{{user._id}}" external>{{user.username}}</a> &nbsp <a href="/user/logout" external>Logout</a></p>
             {{else}}
               <p class="loginArea"> <a href="/user/login" external>Login</a> &nbsp <a href="/user/signup" external>Signup</a></p>
             {{/if}}
            </div>

            <p>
                <a href="/group/groups" class="close-panel">
                <span class="icon icon-friends"></span>
                Groups
                </a>                
            </p>            
            <p>
                <a href="/group/single/57f1d92adbc39b1ba96948ea" class="close-panel">
                <span class="icon icon-message"></span>
                Q&A(问答)
                </a>                
            </p>
           <p><a href="/" class="close-panel"><span class="icon icon-clock"></span> Latest Topic</a></p>            

            <p>
                {{#if user}}
                <a href="/user/profile/{{user._id}}" external class="close-panel">
                <span class="icon icon-edit"></span> 
                My Posts
                </a>
                {{else}}
                <a href="/user/login" class="close-panel">
                <span class="icon icon-edit"></span> 
                My Posts</span>
                </a>          
                {{/if}}                
            </p>




          <div class="slideService">
            <p>
                <a href="/vip/files" class="close-panel">
                语言学习素材
                </a>                
            </p>              
            <p><a href="/service" external>Service Provided [服务]</a></p>
            <p><a href="/rules" external>Project Rules [规则]</a></p>
          </div>


            <p class="slideDownload"><a href='/file/download?name=trver.apk' external>Android Client [安卓客户端]</a></p>
            
        <div class="slideFooter">
            <span>2016 Right Reserved</span>
        </div>
            
        </div>
    </div>