<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <link rel="stylesheet" href="">
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> 
                <span class="icon icon-left"></span>
                BACK
              </a>
             {{#if user}}
                {{#if user.vip}}
                  <a class="button button-link button-nav pull-right"  href="javacript:void(0)">
                    <!--<span class="icon icon-edit"></span>-->
                    VIP
                  </a>
                {{else}}
                  <a class="button button-link button-nav pull-right" external href="/service">
                    <!--<span class="icon icon-edit"></span>-->
                   成为VIP
                  </a>
                {{/if}} 
              {{/if}}  
              <h1 class='title'>语言学习素材</h1>
            </header>            

            <!-- 工具栏 -->
           {{> general/tabs}}



            <!-- 这里是页面内容区 -->
            <div class="content">
           
              <div class="content-block">
                <div class="list-block media-list" style="margin:0;">
                    <ul>
                        <li>
                        <a href="/vip/files/vallay_story_audio" class="item-link item-content" external>
                            <!--<div class="item-media"><img src="/upload/groupLogo/{{logo}}" style='width: 4rem;max-height:3rem;'></div>-->
                            <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">#201611期 第一周音频资料</div>
                                <!--<div class="item-after">{{created_at}}</div>-->
                            </div>
                            <!--<div class="item-subtitle">标题</div>-->
                            <div class="item-text">X-Plan计划2016.11月第一周音频详解，在线音频及下载...</div>
                            </div>
                        </a>
                        </li>
                        <li>
                        <a href="/vip/files/free_internet" class="item-link item-content" external>
                            <!--<div class="item-media"><img src="/upload/groupLogo/{{logo}}" style='width: 4rem;max-height:3rem;'></div>-->
                            <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">#201611期 第二周音频资料</div>
                                <!--<div class="item-after">{{created_at}}</div>-->
                            </div>
                            <!--<div class="item-subtitle">标题</div>-->
                            <div class="item-text">X-Plan计划2016.11月第二周音频详解，在线音频及下载...</div>
                            </div>
                        </a>
                        </li>
                        <li>
                        <a href="/vip/files/ice_age" class="item-link item-content" external>
                            <!--<div class="item-media"><img src="/upload/groupLogo/{{logo}}" style='width: 4rem;max-height:3rem;'></div>-->
                            <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">#201611期 第三周-第四周视频学习资料</div>
                                <!--<div class="item-after">{{created_at}}</div>-->
                            </div>
                            <!--<div class="item-subtitle">标题</div>-->
                            <div class="item-text">X-Plan计划2016.11月第三周-第四周视频学习资料，下载...</div>
                            </div>
                        </a>
                        </li>
                        <li>
                        <a href="/vip/files/therapy_pig" class="item-link item-content" external>
                            <!--<div class="item-media"><img src="/upload/groupLogo/{{logo}}" style='width: 4rem;max-height:3rem;'></div>-->
                            <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">#201612期 第一周音频学习资料</div>
                                <!--<div class="item-after">{{created_at}}</div>-->
                            </div>
                            <!--<div class="item-subtitle">标题</div>-->
                            <div class="item-text">X-Plan计划2016.12月第一周视频学习资料，下载...</div>
                            </div>
                        </a>
                        </li>
                        <li>
                        <a href="/vip/files/call" class="item-link item-content" external>
                            <!--<div class="item-media"><img src="/upload/groupLogo/{{logo}}" style='width: 4rem;max-height:3rem;'></div>-->
                            <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">#201612期 第二周美剧音频节选学习</div>
                                <!--<div class="item-after">{{created_at}}</div>-->
                            </div>
                            <!--<div class="item-subtitle">标题</div>-->
                            <div class="item-text">X-Plan计划2016.12月第二周视频学习资料，详解，下载...</div>
                            </div>
                        </a>
                        </li>

                    </ul>
                </div>

              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <!--<div class="page">...</div>-->
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}

























       
       
       
           