                  
									 <div class="expatsList">
									    <div class="col-sm-12 col-md-3">
             
                        <div class="personalImg" style="background-image: url('/upload/certificate/{{personal}}');"></div>
                        <div class="viewInfo"><a href="/courses/profile?user_id={{account._id}}" class="btn btn-info">查看 {{account.local.username}}</a></div>
        
                      </div>
                      <div class="col-sm-12 col-md-9 expatsListDetail">
                        <h3>{{this.name}}</h3>
                        <span class="expatsCt">来自 {{fromCountry}},{{fromState}}</span>
                        <p class="expatExperience">{{experience}}<p>
                        <p><span>现在位于: </span>@ <span>{{choiceDetail}}, {{choiceState}}, {{choiceCountry}}</span></p>
                        <p>
                          
                          <span class="btn btn-success">{{nativeLanguage}}</span> <span class="btn btn-success">{{secondLanguage}}</span>
                        <p>
                      </div>
									 </div>